<!doctype html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div ng-controller="root as root" ng-app="app" >
      <div class="container-fluid">

	<div class="row patiet-wrapper">
	  <div class="image-wrapper">
            <div class="image" ng-repeat="im in root.images.nlmRxImages track by im.id" >
              <img ng-src="{{im.imageUrl}}"/>
            </div>
	  </div>
	</div>
	
	<div class="row patiet-wrapper">
          <div class="col-md-3">
            <h1 class="header-title">Patient</h1>
            <div class="patient">
              <img src="{{root.userAvatar}}" class="patient-face"/>
              <span>{{root.pt.name[0].given[0] + " " + root.pt.name[0].family[0] + "," || "unknown,"}}</span>
	      <b>{{root.ptAge}}</b>
            </div>
          </div>
          <div  class="col-md-9">
            <h1 class="header-title">Medications</h1>
	    <div ng-if="root.medications.length == 0">
	      <h4 class="no-medication">No medication</h4>
	    </div>
	    <div ng-if="root.medications.length != 0">
              <a class="medications"
		 ng-repeat="md in root.medications track by md.id"
		 ng-click="root.selectMed(md)"
		 ng-class="{active: (md.id == root.med.id)}"
		 >
		{{ md.medicationCodeableConcept.text || md.medicationCodeableConcept.coding[0].display}}
              </a>
            </div>
          </div>
	</div>
      </div>
  </body>
</html>
